{% extends 'base/base.html' %}
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% load static %}


{% block extra_head %}
    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
{% endblock extra_head %}

{% block head_css %}
    <link rel="stylesheet" href="{% static "css/default.css" %}">
    <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
    {#    <link rel="stylesheet" href="{% static "mezzanine_pagedown/css/pagedown.css" %}">#}

    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
    {% endif %}
    {% ifinstalled cartridge.shop %}
        <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
        {% endif %}
    {% endifinstalled %}

{% endblock %}

{% block head_js %}


    {##}
    {#    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>#}
    {#    <script type="text/javascript" src="{% static "mezzanine_pagedown/pagedown/Markdown.Converter.js" %}"></script>#}
    {#    <script type="text/javascript" src="{% static "mezzanine_pagedown/pagedown/Markdown.Sanitizer.js" %}"></script>#}
    {#    <script type="text/javascript" src="{% static "mezzanine_pagedown/pagedown/Markdown.Editor.js" %}"></script>#}
    {#    <script type="text/javascript" src="{% static "filebrowser/js/filebrowser-popup.js" %}"></script>#}
    {#    <script type="text/javascript" src="{% static "mezzanine_pagedown/js/jquery.ba-throttle-debounce.min.js" %}"></script>#}
    {#    <script type="text/javascript" src="{% static "mezzanine_pagedown/js/jquery.cookie.js" %}"></script>#}

{% endblock head_js %}



{#{% block container_class %}container-fluid{% endblock container_class %}#}
{% block body %}

    <div class="col-md-9 middle panel">

        {% block main %}{% endblock %}
    </div>

    <div class="col-md-3 right">


        {% search_form %}

        {% block right_panel %}

        {% endblock %}

    </div>

{% endblock body %}