{% load staticfiles %}
{% load html_tags %}
<!DOCTYPE html>

<html>
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="theme-color" content="#1a237e">

    <title>{% title_element %}</title>


    <!-- Material Design fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


    <!-- Bootstrap Material Design -->

    <link href="{% static 'bootstrap-material-design/dist/css/bootstrap-material-design.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-material-design/dist/css/ripples.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/my.css' %}" rel="stylesheet">


    {#        <link href="{% static 'css/flipper.css' %}" rel="stylesheet">#}

    {% block style %}


    {% endblock style %}

</head>


<body>

{% block body %}

    {% block navbar %}
        {% include 'blocks/nav.html' %}

        </div>
    {% endblock navbar %}



    <div class="container">

        {% block container %}
        {% endblock container %}
    </div>


    <!--    JAVASCRIPT DEPENENCIES      -->

    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="{% static 'material/js/ripples.min.js' %}"></script>
    <script src="{% static 'material/js/material.min.js' %}"></script>

{% endblock body %}
</body>
</html>
