{% load daily_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дневной дайджест за {{ date|date:"d.m.Y" }}</title>
</head>
<body>

<p>#python #pynsk #pythondaily #pydaily</p>
<p>Дневной дайджест: {{ date|date:"d.m.Y" }}</p>
{{ initial_text|safe }}

{% for category, links in items.items %}
    {% if links %}
        <div class="items-group-container">
            <br/>
            <p>{{ category }} <br/> {% crete_hr_line category %}</p>

            {% for item in links %}
                <div class="item-container">
                    <p>- {{ item.title }} {{ item.link }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}


<br/>
<p>Добавляйте интересные Python-ссылки через форму: http://pythondigest.ru/add/</p>
#daily@pynsk
</body>
</html>