{% load daily_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дневной дайджест за {{ date|date:"d.m.Y" }}</title>


</head>
<body>


<button id="create_digest">Опубликовать</button>


<pre id="digest_content">
{% include 'include/dailyissue_content.html' %}
</pre>


<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>


<script>
    $('#create_digest').click(function () {

        $.ajax({
            method: 'GET',
            url: "{% url 'dailydigest:create' %}",
            data: {
                'content': document.getElementById("digest_content").innerText,
                'title': "Дневной дайджест: {{ date|date:"d.m.Y" }}",
                'date': '{{ date|date:"d.m.Y" }}'
            }
        }).done(function (data) {
            console.log(data)
        });
    })
</script>

</body>
</html>