{% load markup %}
{% load static from staticfiles %}


<section id="archive" class="section-archive">
    <div class="container">

        <div class="row">
            <h1 class="heading text-center"><a href="{% url "meetup:events" %}"><span>Архив встреч</span></a></h1>
            <hr>
        </div>


        <div class="row">

            {% for event in events %}
                <div class="col-md-4">
                    <h3 class="text-center"><a href="{{ event.get_absolute_url }}">{{ event }}</a>
                        {% if event.status == "draft" %}<sup>draft</sup>{% endif %}</h3>
                    <hr>

                    {% for talk in event.talks.all %}

                        <div class="col-md-3">
                            <div class="avatar">
                                <a class="archive-item__talk-avatar" href="{{ talk.get_absolute_url }}">
                                    <img src="{{ talk.speaker.avatar_url }}" width="60" height="60">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="topic">
                                <h3><a class="archive-item__topic"
                                       href="{{ talk.get_absolute_url }}">{{ talk.name }}</a></h3>
                                <div class="name"><a class="archive-item__speaker"
                                                     href="{{ talk.speaker.get_absolute_url }}">{{ talk.speaker.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>


        {% if show_more_link %}
            <div class="row">
                <div class="meetups-more text-right">
                    <a href="{% url "meetup:events" %}" class="btn btn-raised">Все события</a>
                </div>
            </div>
        {% endif %}

    </div>
</section>
