{% load static from staticfiles %}


<section id="speakers" class="section-speakers">
    <div class="container">
        <div class="row">
            <h1 class="heading text-center"><a href="{% url "meetup:speakers" %}"><span>Люди</span></a></h1>
            <hr>
        </div>

        <div class="row">
            <div class="speaker">
                {% for speaker in speakers %}

                    <div class="col-md-2 text-center">
                        <div class="avatar"><a href="{{ speaker.get_absolute_url }}"><img
                                src="{{ speaker.avatar_url }}"
                                align="center" width=""></a>
                        </div>
                        <div class="name"><a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a></div>
                        <div class="desc">{{ speaker.company_name }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if show_more_link %}
            <div class="row">
                <div class="speakers-more text-right">
                    <a href="{% url "meetup:speakers" %}" class="btn btn-raised">Все спикеры</a>
                </div>
            </div>
        {% endif %}

    </div>
</section>
