{% load i18n %}
{% load static %}


<div class="panel panel-default widget">
    <div class="panel-heading"><h4>Python встреча</h4></div>
    <div class="panel-body">
        <div class="text-center">
            <h3>PyNSK #6</h3>
            <p>13 февраля, в 13-00</p>
            <p>Новосибирск,<br> <a style="text-decoration: underline;" href="http://go.2gis.com/9pdrn">Культурный центр "Этаж"</a></p>

            <h3><a href="https://bit.ly/pynsk6_reg" style="text-decoration: underline;">Регистрация</a></h3>
        </div>
    </div>
</div>