{% load static %}

<div class="panel panel-default widget ">
    <div class="panel-body">


        <div class="top-orfo hidden-xs hidden-sm col-md-12">
            <a href="http://orphus.ru" id="orphus" target="_blank">
                <img alt="Система Orphus" src="{% static 'js/vendor/orphus/orphus.gif' %}">
            </a>
        </div>
        <div class="top-orfo col-md-12 hidden-md hidden-lg">
            <a href="http://orphus.ru" id="orphus" target="_blank">
                Заметили ошибку в тексте? Выделите мышкой и нажмите Ctrl + Enter
            </a>
        </div>
    </div>
</div>