{% extends 'tasks_base/base.html' %}
{% load html_tags %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
{% endblock style %}

{% block container %}

    <div class="well">
        <header class="entry-header">
            <h1 class="entry-title" itemprop="headline">Задача номер {{ object.number|stringformat:"03d" }}</h1>
        </header>
        <hr>


        <div class="entry-content">
            <article id="task-{{ object.pk }}">
                {{ object.html_content|pygment|safe }}
            </article>
        </div>
    </div>

{% endblock container %}