{% extends 'base/base.html' %}
{% load html_tags %}
{% load staticfiles %}

{% block meta_title %}Задачи{% endblock %}

{% block body %}

    <h1 class="text-center">Практические задачи</h1>
    <hr>
    {% bts_card_css as  css_cards %}


    {% for object in object_list %}

        <a href="{% url 'tasks:task-detail' pk=object.pk %}"
           title="Теги задачи: {{ object.tags_list|join:', ' }}">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive"
                             src="{% static 'images/task_card_backgroud.png' %}">
                        <span class="card-title">Задача {{ object.number|stringformat:"03d" }}</span>
                    </div>

                    <div class="card-content">
                        <p>{{ object.title }}</p>
                    </div>
                </div>
            </div>
        </a>


    {% empty %}
        <h4>Еще нет задач</h4>
    {% endfor %}



{% endblock body %}