{% extends 'base/base.html' %}
{% load html_tags %}
{% load static %}

{% block meta_title %}Задача {{ object.number|stringformat:"03d" }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
{% endblock extra_css %}

{% block body %}

    <div class="well">
        <header class="entry-header">

            <h1 class="entry-title" itemprop="headline">Задача
                номер {{ object.number|stringformat:"03d" }}: {{ object.title }}</h1>

        </header>
        <hr>

        <div class="entry-content">
            <article id="task-{{ object.pk }}">
                {{ object.html_content|pygment|safe }}
            </article>
            <hr/>

            {% if object.tips %}
                {% for tip in object.tips %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="btn btn-raised btn-success spoiler-trigger"
                                    data-toggle="collapse">
                                Подсказка {{ forloop.counter }}: {{ tip.title }}
                            </button>
                        </div>
                        <div class="panel-collapse collapse out">
                            <div class="panel-body">
                                {{ tip.html_content|safe }}
                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}


            <div class="row">
                <div class="col-md-8">
                    {% include 'blocks/share_social.html' %}
                </div>
                <div class="col-md-4">
                    {% if object.tags_list %}
                        <blockquote class="blockquote-reverse">

                            <h3>Теги:</h3>
                            {% for tag in object.tags_list %}
                                {{ tag }}
                            {% endfor %}

                        </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock body %}

{% block extra_footer_js %}

    {{ block.super }}
    <script>
        $(".spoiler-trigger").click(function () {
            $(this).parent().next().collapse('toggle');
        });

    </script>
{% endblock extra_footer_js %}