{% load blog_tags keyword_tags i18n future %}



{% block blog_categories %}
    {% blog_categories as categories %}
    {% if categories %}

        <div class="panel panel-default widget categories">
            <div class="panel-heading"><h4>{% trans "Categories" %}</h4></div>
            <div class="panel-body">

                <ul class="list-group">

                    {% for category in categories %}

                        <li class="list-group-item">
                            <a href="{% url "blog_post_list_category" category.slug %}">
                                <i class="fa fa-folder-open fa-lg"></i> {{ category }}
                            </a>
                        </li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    {% endif %}
{% endblock %}



{% block blog_keywords %}
    {% keywords_for blog.blogpost as tags %}
    {% if tags %}
        <div class="panel panel-default widget tags">
            <div class="panel-heading"><h4>{% trans "Tags" %}</h4></div>
            <div class="panel-body">
                {% for tag in tags %}
                    <a href="{% url "blog_post_list_tag" tag.slug %}"
                       class="tag-weight-{{ tag.weight }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
