{% extends 'base/base.html' %}
{% load html_tags %}
{% load static %}
{% block meta_title %}Главная{% endblock %}

{% block nav_block %}
{% endblock %}


{% block body %}

    <h1 class="text-center">Привет! Ты на Python-портале</h1>

    <h3 class="text-center">Наш контент</h3>

    {% projects as  projects %}
    {% for object in projects %}
        <a href="{{ object.url }}"
           title="{{ object.description }}">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive"
                             src="{% static 'images/task_card_backgroud.png' %}">
                    </div>
                    <div class="card-content">
                        <p>{{ object.title }}</p>
                    </div>
                </div>
            </div>
        </a>

    {% endfor %}

{% endblock %}