{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or category or year or month or author %}
        <li>{% spaceless %}
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Category:" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}

    <div class="col-md-12 blog">

        {% if tag or category or year or month or author %}
            {% block blog_post_list_filterinfo %}
                <h4>
                    {% if tag %}
                        {% trans "Viewing posts tagged" %} <b>{{ tag }}</b>
                        {% else %}{% if category %}
                            {% trans "Viewing posts for the category" %} <b>{{ category }}</b>
                            {% else %}{% if year or month %}
                                {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                                <b>{{ year }}</b>
                                {% else %}{% if author %}
                                    {% trans "Viewing posts by" %}
                                    <b>{{ author.get_full_name|default:author.username }}</b>
                                {% endif %}{% endif %}{% endif %}
                    {% endif %}
                </h4>
                <hr>
            {% endblock %}

        {% else %}
            {% if page %}
                {% block blog_post_list_pagecontent %}
                    {% if page.get_content_model.content %}
                        {% editable page.get_content_model.content %}
                            {{ page.get_content_model.content|richtext_filters|safe }}
                        {% endeditable %}
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endif %}







        {% for blog_post in blog_posts.object_list %}
            {% if blog_post.status == 2 %}

                {% block blog_post_list_post_title %}
                    {% editable blog_post.title %}
                        <h2>
                            <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                        </h2>
                    {% endeditable %}
                {% endblock %}

                {% block blog_post_list_post_content %}
                    {% editable blog_post.content %}
                        {{ blog_post.description_from_content|safe }}
                    {% endeditable %}
                {% endblock %}

                {% block blog_post_list_post_links %}
                    <div class="blog-list-detail">
                        <p align="left">
                            <a href="{{ blog_post.get_absolute_url }}"
                               class="btn btn-default btn-raised">{% trans "read more" %}</a>
                        </p>
                    </div>
                {% endblock %}
            {% endif %}
        {% endfor %}

        {% pagination_for blog_posts %}





        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            {% include "generic/includes/disqus_counts.html" %}
        {% endif %}

    </div>

{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}
